{% extends "header.html" %} {% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}

{% if movie %}

{# Display card for the movie details #}
<div class="movie-container">
  <ul class="movie-info">
    <div class="movie-title"> {{ movie.name }}
    </div>
    <img class="movie-img" alt="alt text" src="{{ movie.image.url }}" />
    <li class="opacity-100 md:px-4"><b>Released: </b> {{ movie.release_date }} </li>
    <li class="opacity-40 md:px-4"><b>Artist:</b> {{ movie.artist_name }}</li>
    <li class="opacity-40 md:px-4"><b>Total Tracks:</b> {{ movie.total_tracks }}</li>
    <li class="opacity-40 md:px-4"><b>Popularity:</b> {{ movie.popularity }}</li>
    <li class="md:px-4"><a href="{{movie.url}}">Link to Album</a></li>
  </ul>

  {# Reviews #}
  <div class="reviews">
    <form method="POST" action="" class="review-form">
      {{ form_rating.csrf_token }}
      <div class="form-group review-input">
        {{ form_rating.movieRating.label }} {{ form_rating.movieRating() }}
      </div>
      {{ form_rating.submit(class="review-button") }}
    </form>
    
    {# Ratings display #}
      {% if ratings %}
      <h2 class="ratings-title">Individual Ratings</h2>
      <ul class="ratings-container">
        {% for r in ratings %}
          <li class="rating-item">
            <div class="rating-date">{{ r.date }}</div>
            {% if r.commenter %}
              <a class="rating-user" href="{{ url_for('movies.user_detail', username=r.commenter.username) }}">
                @{{ r.commenter.username }}
              </a>
            {% endif %}
            <div class="rating-value">Rating: {{ r.rating }} Stars</div>
            {# <div class="rating-user">By: @{{ r.commenter.username }}</div> #}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No ratings yet.</p>
      {% endif %}
  
    <h1 class="reviews-title"> Reviews
      <small class="reviews-count"> {{ reviews | length }} reviews </small>
    </h1>
    <ul class="review-container">
      {% for review in reviews %}
        <li class="review flex gap-2">
          <img class="h-20 w-20 rounded-lg" src="data:image/png;base64,{{review.image}}" alt="" />
          <div class="w-full">
            <span class="review-date">{{ review.date }}</span>
            <a class="review-commenter" href="{{ url_for('movies.user_detail', username=review.commenter.username) }}">
              @{{ review.commenter.username }}
            </a>
            <p class="review-content">{{ review.content }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
{# #}
    {% if current_user.is_authenticated %}
      {# Movie review submission form #}
      <div class="container mx-auto">
        <form method="POST" action="" class="review-form">
          {{ form_review.csrf_token }}
          <div class="form-group review-input">
            {{ form_review.text.label }} {{ form_review.text(class="form-content") }}
            {% if form_review.text.errors %}
              <div class="error" role="alert">
                {% for error in form_review.text.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {{ form_review.submit(class="review-button") }}
        </form>
      </div>
    {% endif %}
  </div>
  <div class="w-0 lg:w-96"></div>
</div>
{% endif %} {% endblock content %}